<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/font-awesome.min.css">

<title>Cursos</title>
</head>
<body>
	<div th:replace="fragments :: header"></div>
	<br>
	<div class="alert alert-success" th:if="${success != null}"
						th:text="${success}"></div>
					<div class="alert alert-danger" th:if="${error != null}"
						th:text="${error}"></div>
					<div class="alert alert-warning" th:if="${warning != null}"
						th:text="${warning}"></div>
					<div class="alert alert-info" th:if="${info != null}"
						th:text="${info}">
	</div>
	<br />
	<h1 style="text-align: center;">Comentarios de <span th:text=${nombreCurso}></span></h1>

	<br/>
	<table class="table table-bordered">
		<thead class="thead-light">
			<tr>
				<th style="font-size:30px">Comentario</th>
			</tr>
		</thead>
		<tbody th:each="comentarios: ${comentarios}">
			<tr>
			<span th:if="${comentarios.idCurso==idCurso}">
				<th th:text=${comentarios.comentario}></th>
			</span>
				
			</tr>
		</tbody>
	</table>

<br><br>
	<div style="text-align:center;width: 500px;margin: auto;">
		<a th:href="@{/comentarios/formComentario/{idCurso}/{idAlumno} (idCurso=${idCurso},idAlumno=${idAlumno})}">
			<button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square">Crear comentario</i></button>
		</a> 
		<a th:href="@{/alumnos/listCursos}">
			<button type="button" class="btn btn-primary">Regresar</button>
		</a>
	</div>
</body>
</html>