<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">

<title>Formulario comentario</title>
</head>
<body>
	<div th:replace="fragments :: header"></div>
	<br>
	<form th:action="@{/comentarios/addComentario}" th:object="${comentario}" method="post" style="text-align:center;width: 500px;margin: auto;">
		
		<h1>Nuevo comentario</h1>
		

		<input type="hidden" th:field="*{idCurso}" id="idCurso">
		<input type="hidden" th:field="*{idAlumno}" id="idAlumno">
		
		<div class="form-group">
			<label for="comentario">Comentario</label> 
			<input type="text" th:field="*{comentario}"
				class="form-control" id="comentario" placeholder="Introduce el comentario"/>
		</div>
		
		<br><br>
		<input type="submit" class="btn btn-primary"  th:onclick="return confirm('¿Confirmar comentario?');">
		<a th:href="@{/comentarios/listComentarios/}+${idCurso}">
		<button type="button" class="btn btn-primary">Regresar</button>
		</a>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>

	</form>
	<br><br>
</body>
</html>