<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- FontAwesome 4-->

<title>Registrar Alumno</title>
</head>

<body>
<div th:replace="fragments :: header"></div>
<br>

<div class="wrapper">	
	<div th:if="${error!=null}" class="alert alert-danger" role="alert">Usuario ya existente</div>
        <div class="logo">
            <img src="https://www.freepnglogos.com/uploads/hacker-png/hacker-anonymous-group-wikipedia-23.png" width="200" alt="hacker, anonymous group wikipedia" />
        </div>	
        <div class="text-center mt-4 name">
           	Sign In
        </div>
        <br>
		<form class="p-3 mt-3" th:action="@{/auth/register}" th:object="${alumno}" method="post">
			
			<label for="inputNombre" >Nombre</label> 
			<div class="form-field d-flex align-items-center">
				<span class="far fa-user"></span>
				<input type="hidden" name="${csrf.parameterName}" value="${csrf.token}"/> 
				<input type="text" class="form-control" th:field="*{nombre}" placeholder="Nombre" name="nombre" id="nombre" required/> 
			</div>
			
			<label for="inputApellidos" >Apellidos</label> 
			<div class="form-field d-flex align-items-center">
				<span class="far fa-user"></span>
				<input type="hidden" name="${csrf.parameterName}" value="${csrf.token}"/> 
				<input type="text" class="form-control" th:field="*{apellidos}" placeholder="Apellidos" name="Apellidos" id="Apellidos" required/> 
			</div>
			
			<label for="inputEmail" >Email</label> 
			<div class="form-field d-flex align-items-center">
				<span class="far fa-user"></span>
				<input type="hidden" name="${csrf.parameterName}" value="${csrf.token}"/> 
				<input type="text" class="form-control" th:field="*{email}" placeholder="Username" name="username" id="username" pattern='([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+' required/> 
			</div>
							
			<label for="inputPassword">Password</label>
			<div class="form-field d-flex align-items-center">
				<span class="far fa-key"></span>
				<input type="password" class="form-control" th:field="*{password}" placeholder="Password" name="password" id="password" required/>
			</div>
			
			<label for="inputFoto" >Foto</label> 
			<div class="form-field d-flex align-items-center">
				<span class="far fa-user"></span>
				<input type="hidden" name="${csrf.parameterName}" value="${csrf.token}"/> 
				<input type="file" class="form-control" th:field="*{foto}" placeholder="foto" name="foto" id="foto" required/> 
			</div>
		
			<br>
				
			<button type="submit" class="btn btn-primary">Registrarme</button>
			
			<div class="text-center fs-6">
            <a th:href="@{/auth/login/}">Iniciar Sesion</a>
        </div>
		</form>
				
</div>
</body>
</html>